.emojiContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.emojiItem {
    background: #eaeaea;
    height: 100px;
    width: 100px;
    border-radius: 30px;
}